{#
/**
 * @file
 * Theme override to display a "uniqueness" block CSS has dictacted including "home" in classnames, does this need to be made extendable?
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'content_block content_block_home_uniqueness_banner'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="home_uniqueness_banner">
  {% block content %}
      <div class="graphic">
        {% set standard_class = '' %}
        {% set svg_class = '' %}

        {% if content.field_image_standard.0['#item'].entity.uri.value and content.field_image_svg.0['#file'].uri.value %}
          {% set standard_class = 'standard' %}
          {% set svg_class = 'svg' %}
        {% endif %}

        {% if content.field_image_standard.0['#item'].entity.uri.value %}
         <img class="{{ standard_class }}" src="{{ file_url(content.field_image_standard.0['#item'].entity.uri.value) }}" />
        {% endif %}
        {% if content.field_image_svg.0['#file'].uri.value %}
         <img class="{{ svg_class }}" src="{{ file_url(content.field_image_svg.0['#file'].uri.value) }}" />
        {% endif %}
      </div>
      <div class="caption">
       {{ content.field_caption['#items'].0.value }}
      </div>
  {% endblock %}
  </div>
</div>
