{% block content %}
  {% if content.field_table_to_display['#items'][0].value == 'blowers' %}

    <div class="blowers_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      <div class="table-scroll">

        <table class="blowers scroll" border="0" width="" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row"></th>
              <td colspan="3" scope="col">LB6000E / LB6002E</td>
              <td colspan="3" scope="col">LB4800E / LB4801E</td>
              <td colspan="3" scope="col">LB5300E</td>
              <td colspan="3" scope="col">LB5750E</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Constant Speed'|trans }}</th>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">Run Time</th>
              <td><strong>2,5Ah</strong></td>
              <td><strong>5,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td><strong>5,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,5Ah</strong></td>
              <td><strong>5,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,5Ah</strong></td>
              <td><strong>5,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">{{ 'Low Speed'|trans }}</th>
              <td>-</td>
              <td>Jusqu'à 120 minutes</td>
              <td>-</td>
              <td>Jusqu'à 60 minutes</td>
              <td>Jusqu'à 150 minutes</td>
              <td>Jusqu'à 225 minutes</td>
              <td>Jusqu'à 75 minutes</td>
              <td>Jusqu'à 150 minutes</td>
              <td>Jusqu'à 225 minutes</td>
              <td>-</td>
              <td>Jusqu'à 150 minutes</td>
              <td>Jusqu'à 225 minutes</td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">{{ 'High Speed'|trans }}</th>
              <td>-</td>
              <td>Jusqu'à 22 minutes</td>
              <td>-</td>
              <td>Jusqu'à 18 minutes</td>
              <td>Jusqu'à 45 minutes</td>
              <td>Jusqu'à 70 minutes</td>
              <td>Jusqu'à 22 minutes</td>
              <td>Jusqu'à 44 minutes</td>
              <td>Jusqu'à 66 minutes</td>
              <td>-</td>
              <td>Jusqu'à 18 minutes</td>
              <td>Jusqu'à 25 minutes</td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row">{{ 'Boost'|trans }}</th>
              <td>-</td>
              <td>Jusqu'à 15 minutes</td>
              <td>-</td>
              <td>Jusqu'à 10 minutes</td>
              <td>Jusqu'à 25 minutes</td>
              <td>Jusqu'à 35 minutes</td>
              <td>Jusqu'à 10 minutes</td>
              <td>Jusqu'à 20 minutes</td>
              <td>Jusqu'à 30 minutes</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-bottom">
              <th scope="row"></th>
              <td><strong>{{ 'LOW'|trans }}</strong></td>
              <td><strong>{{ 'HIGH'|trans }}</strong></td>
              <td><strong>{{ 'BOOST'|trans }}</strong></td>
              <td><strong>{{ 'LOW'|trans }}</strong></td>
              <td><strong>{{ 'HIGH'|trans }}</strong></td>
              <td><strong>{{ 'BOOST'|trans }}</strong></td>
              <td><strong>{{ 'LOW'|trans }}</strong></td>
              <td><strong>{{ 'HIGH'|trans }}</strong></td>
              <td><strong>{{ 'BOOST'|trans }}</strong></td>
              <td><strong>{{ 'LOW'|trans }}</strong></td>
              <td><strong>{{ 'HIGH'|trans }}</strong></td>
              <td><strong>{{ 'BOOST'|trans }}</strong></td>
            </tr>
            <tr class="shaded reduce-padding-top reduce-padding-bottom">
              <th scope="row">{{ 'Air Volume (m<sup>3</sup>/h)'|trans }}</th>
              <td>440</td>
              <td>850</td>
              <td>1020</td>
              <td>420</td>
              <td>650</td>
              <td>810</td>
              <td>440</td>
              <td>675</td>
              <td>900</td>
              <td>440</td>
              <td>977</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-top reduce-padding-bottom">
              <th scope="row">{{ 'Air Speed (km/h)'|trans }}</th>
              <td>80</td>
              <td>160</td>
              <td>192</td>
              <td>72</td>
              <td>120</td>
              <td>148</td>
              <td>80</td>
              <td>136</td>
              <td>176</td>
              <td>80</td>
              <td>212</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-top">
              <th scope="row">{{ 'Force (N)'|trans }}</th>
              <td>-</td>
              <td>19</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>13</td>
              <td>-</td>
              <td>-</td>
              <td>16</td>
              <td>-</td>
              <td>18</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Speed Setting'|trans }}</th>
              <td colspan="3">-</td>
              <td colspan="3">Vitesse variable avec fonction Boost</td>
              <td colspan="3">Vitesse variable avec fonction Boost</td>
              <td colspan="3">Vitesse variable avec fonction Boost</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Weight Without Battery'|trans }}</th>
              <td colspan="3">-</td>
              <td colspan="3">2,3g</td>
              <td colspan="3">2,2kg</td>
              <td colspan="3">2,2kg</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Motor Type'|trans }}</th>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Noise Rating'|trans }}</th>
              <td colspan="3">83LpA / 97LwA</td>
              <td colspan="3">82LpA / 97LwA</td>
              <td colspan="3">82LpA / 97LwA</td>
              <td colspan="3">83LpA / 95LwA</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Vibration (m/s<sup>2</sup>)'|trans }}</th>
              <td colspan="3">1,5</td>
              <td colspan="3">1,1</td>
              <td colspan="3">1,35</td>
              <td colspan="3">1,4</td>
            </tr>
          </tbody>
        </table>

    </div>

    {% if content.body %}
      <div class="footnote">{{ content.body }}</div>
    {% endif %}
  
    </div>

  {% elseif content.field_table_to_display['#items'][0].value == 'hedge-trimmers' %}

    <div class="hedge-trimmers_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      <div class="table-no-scroll">

        <table class="hedge-trimmers" border="0" width="" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row"></th>
              <td colspan="3" scope="col">HT2400E / HT2401E</td>
              <td colspan="3" scope="col">HT5100E</td>
              <td colspan="3" scope="col">HT6500E</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Blade Length'|trans }}</th>
              <td colspan="3">61cm</td>
              <td colspan="3">51cm</td>
              <td colspan="3">65cm</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Blade Gap'|trans }}</th>
              <td colspan="3">22mm</td>
              <td colspan="3">33mm</td>
              <td colspan="3">33mm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Blade Tooth Depth'|trans }}</th>
              <td colspan="3">17mm</td>
              <td colspan="3">20mm</td>
              <td colspan="3">20mm</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">{{ 'Run Time'|trans }}</th>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row"></th>
              <td><strong>2,0Ah</strong></td>
              <td><strong>4,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td><strong>4,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td><strong>4,0Ah</strong></td>
              <td><strong>7,5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row"></th>
              <td>Jusqu'à 60 min</td>
              <td>Jusqu'à 120 min</td>
              <td>Jusqu'à 225 min</td>
              <td>Jusqu'à 34 min</td>
              <td>Jusqu'à 86 min</td>
              <td>Jusqu'à 129 min</td>
              <td>Jusqu'à 30 min</td>
              <td>Jusqu'à 75 min</td>
              <td>Jusqu'à 113 min</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Speed Control'|trans }}</th>
              <td colspan="3">Vitesse unique</td>
              <td colspan="3">Deux vitesses</td>
              <td colspan="3">Deux vitesses</td>
            </tr>
            <tr>
              <th scope="row">{{ 'No Load Speeds'|trans }}</th>
              <td colspan="3">2.600bpm</td>
              <td colspan="3">2.800 à 3.200bpm</td>
              <td colspan="3">2.800 à 3.200bpm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Blade Type'|trans }}</th>
              <td colspan="3">Découpée au laser ; rectifiée au diamant</td>
              <td colspan="3">Découpée au laser ; rectifiée au diamant</td>
              <td colspan="3">Découpée au laser ; rectifiée au diamant</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Cutting Action'|trans }}</th>
              <td colspan="3">Double action ; lame de coupe un seul côté</td>
              <td colspan="3">Double action ; lame de coupe deux côtés</td>
              <td colspan="3">Double action ; lame de coupe deux côtés</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Blade Tip Protector'|trans }}</th>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Sound Pressure'|trans }}</th>
              <td colspan="3">83LpA
              94LwA</td>
              <td colspan="3">79LpA
              92LwA</td>
              <td colspan="3">80LpA
              93LwA</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Rotating Handle'|trans }}</th>
              <td colspan="3">Non</td>
              <td colspan="3">45° et 90° à gauche et à droite</td>
              <td colspan="3">45° et 90° à gauche et à droite</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Weight without Battery'|trans }}</th>
              <td colspan="3">3,0kg</td>
              <td colspan="3">3,6kg</td>
              <td colspan="3">3,8kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Motor Type'|trans }}</th>
              <td colspan="3">Avec balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Vibration (M/S<sup>2</sup>'|trans }}</th>
              <td colspan="3">2,0/1,5</td>
              <td colspan="3">3,5/4,9</td>
              <td colspan="3">4,5/5,1</td>
            </tr>
          </tbody>
        </table>

    </div>

    {% if content.body %}
      <div class="footnote">{{ content.body }}</div>
    {% endif %}

  {% elseif content.field_table_to_display['#items'][0].value == 'line-trimmers' %}

    <div class="line-trimmers_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      <div class="table-scroll">

      <table class="line-trimmers scroll" border="0" width="" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row"><span style="font-weight: normal;"> </span></th>
              <td colspan="3" scope="col">ST1210E / ST1211E</td>
              <td colspan="3" scope="col">ST1300E</td>
              <td colspan="3" scope="col">ST1500E-F</td>
              <td colspan="3" scope="col">BC1500E-F</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Cutting Width'|trans }}</span></th>
              <td colspan="3">30cm</td>
              <td colspan="3">33cm</td>
              <td colspan="3">38cm</td>
              <td colspan="3">15", 38cm</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row"><span style="font-weight: normal;">{{ 'Run Time'|trans }}</span></th>
              <td colspan="3">{{ 'BATTERY SIZE'|trans }}</td>
              <td colspan="3">{{ 'BATTERY SIZE'|trans }}</td>
              <td colspan="3">{{ 'BATTERY SIZE'|trans }}</td>
              <td colspan="3">{{ 'BATTERY SIZE'|trans }}</td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row"><span style="font-weight: normal;"> </span></th>
              <td>2,0Ah</td>
              <td>4,0Ah</td>
              <td>7,5Ah</td>
              <td>2,0Ah</td>
              <td>5,0Ah</td>
              <td>7,5Ah</td>
              <td>2,0Ah</td>
              <td>5,0Ah</td>
              <td>7,5Ah</td>
              <td>4,0Ah</td>
              <td>5,0Ah</td>
              <td>7,5Ah</td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row"><span style="font-weight: normal;"> </span></th>
              <td>Jusqu'à 35 min</td>
              <td>Jusqu'à 70 min</td>
              <td>Jusqu'à 135 min</td>
              <td>Jusqu'à 55 min</td>
              <td>Jusqu'à 140 min</td>
              <td>Jusqu'à 210 min</td>
              <td>Jusqu'à 45 min</td>
              <td>Jusqu'à 110 min</td>
              <td>Jusqu'à 160 min</td>
              <td>Jusqu'à 45 min</td>
              <td>Jusqu'à 110 min</td>
              <td>Jusqu'à 160 min</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Speed Control'|trans }}</span></th>
              <td colspan="3">Vitesse constante
              Vitesse unique</td>
              <td colspan="3">Vitesse constante
              Deux vitesses</td>
              <td colspan="3">Vitesse constante
              Vitesse variable</td>
              <td colspan="3">Vitesse variable constante</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'No Load Speeds'|trans }}</span></th>
              <td colspan="3">7.000spm</td>
              <td colspan="3">5.200/6.500spm</td>
              <td colspan="3">4.000/5.800spm</td>
              <td colspan="3">S.O.</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Soft-Start'|trans }}</span></th>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">S.O.</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'Line Diameter'|trans }}</span></th>
              <td colspan="3">2,0mm</td>
              <td colspan="3">2,0mm</td>
              <td colspan="3">2,4mm</td>
              <td colspan="3">2,4mm</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Line Feed'|trans }}</span></th>
              <td colspan="3">Avance par frappe au sol</td>
              <td colspan="3">Avance par frappe au sol</td>
              <td colspan="3">Avance par frappe au sol à recharge rapide</td>
              <td colspan="3">Avance par frappe au sol à recharge rapide</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'Dual Line'|trans }}</span></th>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3"> S.O.</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Rotating Direction'|trans }}</span></th>
              <td colspan="3">Horaire</td>
              <td colspan="3">Horaire</td>
              <td colspan="3">Horaire</td>
              <td colspan="3">Horaire</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'Auxiliary Handle'|trans }}</span></th>
              <td colspan="3">Réglage de boucle et attache-rapide</td>
              <td colspan="3">Réglage de boucle et attache-rapide</td>
              <td colspan="3">Réglage de boucle et attache-rapide</td>
              <td colspan="3"> S.O.</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Harness'|trans }}</span></th>
              <td colspan="3"> S.O.</td>
              <td colspan="3"> S.O.</td>
              <td colspan="3">Bandoulière simple (bandoulière fournie)</td>
              <td colspan="3"> S.O.</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'Weight without battery'|trans }}</span></th>
              <td colspan="3">2,85kg</td>
              <td colspan="3">2,7kg</td>
              <td colspan="3">3,2kg</td>
              <td colspan="3">3,85kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Vibration (M/S<sup>2</sup>)'|trans }}</span></th>
              <td colspan="3">3,3 / 4,9</td>
              <td colspan="3">0,6 / 2,3</td>
              <td colspan="3">2,2 / 1,7</td>
              <td colspan="3">4,3 / 2,9</td>
            </tr>
            <tr>
              <th scope="row"><span style="font-weight: normal;">{{ 'Motor Type'|trans }}</span></th>
              <td colspan="3">Avec balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Sans balais</td>
            </tr>
            <tr class="shaded">
              <th scope="row"><span style="font-weight: normal;">{{ 'Noise Rating'|trans }}</span></th>
              <td colspan="3">75LpA
              91LwA</td>
              <td colspan="3">71LpA
              91LwA</td>
              <td colspan="3">71LpA
              91LwA</td>
              <td colspan="3">70LpA
              86LwA</td>
            </tr>
          </tbody>
        </table>

      </div>

    {% if content.body %}
      <div class="footnote">{{ content.body }}</div>
    {% endif %}
  
    </div>

  {% elseif content.field_table_to_display['#items'][0].value == 'brush-cutters' %}

  <div class="brush-cutters_table">
  
    {% if content.field_title %}
      <div class="title">{{ content.field_title }}</div>
    {% endif %}
   
    <div class="table-scroll">

      <table class="brush-cutters" border="0" width="" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="headers">
            <th scope="col"><span style="font-weight: normal;"> </span></th>
            <th colspan="3" scope="col"><span style="font-weight: normal;">BC3800E</span></th>
          </tr>
          <tr class="shaded">
            <th scope="row"><span style="font-weight: normal;">{{ 'Cutting Width'|trans }}</span></th>
            <td colspan="3">Lame à trois côtés: 30cm

            Tête de débroussailleuse: 38cm</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;">{{ 'Run time'|trans }}*</span></th>
            <td colspan="3">{{ 'Battery Size'|trans }}</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;"> </span></th>
            <td>4,0Ah</td>
            <td>6,0Ah</td>
            <td>7,5Ah</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;"> </span></th>
            <td>Jusqu'à 30 minutes</td>
            <td>Jusqu'à 50 minutes</td>
            <td>Jusqu'à 65 minutes</td>
          </tr>
          <tr class="shaded">
            <th scope="row"><span style="font-weight: normal;">{{ 'Blade material'|trans }}</span></th>
            <td colspan="3">Lame en acier réversible à 3 côtés</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;">{{ 'Speed control'|trans }}</span></th>
            <td colspan="3">Vitesse variable constante</td>
          </tr>
          <tr class="shaded">
            <th scope="row"><span style="font-weight: normal;">{{ 'Line diameter'|trans }}</span></th>
            <td colspan="3">2,4mm</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;">{{ 'Line feed'|trans }}</span></th>
            <td colspan="3">Avance par frappe au sol à recharge rapide</td>
          </tr>
          <tr class="shaded">
            <th scope="row"><span style="font-weight: normal;">{{ 'Rotating Direction'|trans }}</span></th>
            <td colspan="3">Antihoraire</td>
          </tr>
          <tr>
            <th scope="row"><span style="font-weight: normal;">{{ 'Weight without battery'|trans }}</span></th>
            <td colspan="3">Lame à trois côtés: 3,54kg
            Tête de débroussailleuse: 4,43kg</td>
          </tr>
          <tr class="shaded">
            <th scope="row"><span style="font-weight: normal;">{{ 'Motor type'|trans }}</span></th>
            <td colspan="3">Sans balais</td>
          </tr>
        </tbody>
      </table>

    </div>
            
    {% if content.body %}
      <div class="footnote">{{ content.body }}</div>
    {% endif %}

  </div>

  {% elseif content.field_table_to_display['#items'][0].value == 'mowers' %}

    <div class="mowers_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      <div class="table-scroll">

        <table class="mowers scroll" border="0" width="" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row"></th>
              <td colspan="3" scope="col">LM2001E</td>
              <td colspan="3" scope="col">LM2011E</td>
              <td colspan="3" scope="col">LM2024E</td>
              <td colspan="3" scope="col">LM2014E-SP</td>
              <td colspan="3" scope="col">LM2024E-SP</td>
              <td colspan="3" scope="col">LM2102E-SP</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Cutting Capacity'|trans }}</th>
              <td colspan="3">49cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">52cm</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Self-Propelled Speed'|trans }}</th>
              <td colspan="3">Non</td>
              <td colspan="3">Non</td>
              <td colspan="3">Non</td>
              <td colspan="3">0,6 à 1,4m/s (2,2 à 5,0km/h)</td>
              <td colspan="3">0,6 à 1,4m/s (2,2 à 5,0km/h)</td>
              <td colspan="3">0,6 à 1,4m/s (2.2 à 5,0km/h)</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Cutting Deck Material'|trans }}</th>
              <td colspan="3">Poly</td>
              <td colspan="3">Acier</td>
              <td colspan="3">Acier</td>
              <td colspan="3">Acier</td>
              <td colspan="3">Acier</td>
              <td colspan="3">Poly</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">{{ 'Run Time'|trans }}</th>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
              <td colspan="3"><strong>{{ 'BATTERY SIZE'|trans }}</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row"></th>
              <td><strong>2,0Ah</strong></td>
              <td class="recommended"><strong>4,0Ah*</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td class="recommended"><strong>5,0Ah*</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td class="recommended"><strong>6,0Ah*</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td class="recommended"><strong>6,0Ah*</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td class="recommended"><strong>6,0Ah*</strong></td>
              <td><strong>7,5Ah</strong></td>
              <td><strong>2,0Ah</strong></td>
              <td><strong>6,0Ah</strong></td>
              <td class="recommended"><strong>7,5Ah*</strong></td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row"></th>
              <td>S.O.</td>
              <td>Jusqu'à 45 min</td>
              <td>Jusqu'à 75 min</td>
              <td>S.O.</td>
              <td>Jusqu'à 40 min</td>
              <td>Jusqu'à 65 min</td>
              <td>S.O.</td>
              <td>Jusqu'à 45 min</td>
              <td>Jusqu'à 60 min</td>
              <td>S.O.</td>
              <td>Jusqu'à 35 min</td>
              <td>Jusqu'à 45 min</td>
              <td>S.O.</td>
              <td>Jusqu'à 35 min</td>
              <td>Jusqu'à 45 min</td>
              <td>S.O.</td>
              <td>Jusqu'à 40 min</td>
              <td>Jusqu'à 50 min</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Cutting Speed Control'|trans }}</th>
              <td colspan="3">Vitesse constante</td>
              <td colspan="3">Vitesse variable
              automatique**</td>
              <td colspan="3">Vitesse variable
              automatique**</td>
              <td colspan="3">Vitesse variable
              automatique**</td>
              <td colspan="3">Vitesse variable
              automatique**</td>
              <td colspan="3">Vitesse variable
              automatique**</td>
            </tr>
            <tr>
              <th scope="row">{{ 'No Load Speed'|trans }}</th>
              <td colspan="3">3.300 tr/min</td>
              <td colspan="3">3.150 tr/min</td>
              <td colspan="3">3.000 tr/min</td>
              <td colspan="3">3.150 tr/min</td>
              <td colspan="3">3.000 tr/min</td>
              <td colspan="3">2.800 tr/min</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Cut Height Settings'|trans }}</th>
              <td colspan="3">25/35/50/65/80mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">28/38/52/64/80/94mm</td>
            </tr>
            <tr>
            <th scope="row">{{ 'Handle Heights'|trans }}</th>
              <td colspan="3">Réglable pour deux
              utilisateurs</td>
              <td colspan="3">Réglable pour trois
              utilisateurs</td>
              <td colspan="3">Réglable pour trois
              utilisateurs</td>
              <td colspan="3">Réglable pour trois
              utilisateurs</td>
              <td colspan="3">Réglable pour trois
              utilisateurs</td>
              <td colspan="3">Réglable pour trois
              utilisateurs</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Rear Collection'|trans }}</th>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">70L</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Functions'|trans }}</th>
              <td colspan="3">Paillage et récupération</td>
              <td colspan="3">Paillage, récupération,
              décharge sur le côté</td>
              <td colspan="3">Paillage, récupération,
              décharge sur le côté</td>
              <td colspan="3">Paillage, récupération,
              décharge sur le côté</td>
              <td colspan="3">Paillage, récupération,
              décharge sur le côté</td>
              <td colspan="3">Paillage, récupération,
              décharge sur le côté†</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Noise Rating'|trans }}</th>
              <td colspan="3">84LpA
              94LwA</td>
              <td colspan="3">83LpA
              94LwA</td>
              <td colspan="3">84LpA
              96LwA</td>
              <td colspan="3">86LpA
              96LwA</td>
              <td colspan="3">84LpA
              96LwA</td>
              <td colspan="3">84LpA
              98LwA</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Vibration (M/S<sup>2</sup>'|trans }}</th>
              <td colspan="3">1,2</td>
              <td colspan="3">1,6</td>
              <td colspan="3">1,6</td>
              <td colspan="3">1,1</td>
              <td colspan="3">1,0</td>
              <td colspan="3">1,0</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Vertical Storage'|trans }}</th>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
              <td colspan="3">Oui</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Weight without battery'|trans }}</th>
              <td colspan="3">26kg</td>
              <td colspan="3">25kg</td>
              <td colspan="3">27kg</td>
              <td colspan="3">28kg</td>
              <td colspan="3">29,5kg</td>
              <td colspan="3">28kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">{{ 'Motor Type'|trans }}</th>
              <td colspan="3">Avec balais</td>
              <td colspan="3">Avec balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Avec balais</td>
              <td colspan="3">Sans balais</td>
              <td colspan="3">Avec balais</td>
            </tr>
          </tbody>
        </table>

      </div>

    {% if content.body %}
      <div class="footnote">{{ content.body }}</div>
    {% endif %}

  {% elseif content.field_table_to_display['#items'][0].value == 'batteries' %}

    <div class="batteries_table">
    
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

        <div class="table-scroll">

          <table class="batteries" border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr class="title">
                <td colspan="8">{{ 'Performance statistics'|trans }}</td>
              </tr>
              <tr class="battery">
                <td class="label" colspan="2">{{ 'Battery'|trans }}</td>
                <td class="label">2,0Ah</td>
                <td class="label">4,0Ah</td>
                <td class="label">5,0Ah</td>
                <td class="label">6,0Ah</td>
                <td class="label">7,5Ah</td>
                <td class="label">Batterie Dorsale</td>
              </tr>
              <tr class="capacity">
                <td class="label" colspan="2">{{ 'Capacity (WH/AH)'|trans }}</td>
                <td>112/2,0</td>
                <td>224/4,0</td>
                <td>280/5,0</td>
                <td>336/6,0</td>
                <td>420/7,5</td>
                <td>1299Wh à 56v nominal</td>
              </tr>
              <tr class="charge_times">
                <td class="label" rowspan="2">{{ 'Charge times'|trans }}</td>
                <td class="label">Chargeur Rapide</td>
                <td>25 minutes</td>
                <td>30 minutes</td>
                <td>40 minutes.</td>
                <td>45 minutes</td>
                <td>60 minutes</td>
                <td>240 minutes</td>
              </tr>
              <tr class="charge_times">
                <td class="label">{{ 'Standard charger'|trans }}</td>
                <td>40 minutes</td>
                <td>80 minutes</td>
                <td>100 minutes</td>
                <td>115 minutes</td>
                <td>145 minutes</td>
                <td>S.O.</td>
              </tr>
              <tr class="weight">
                <td class="label" colspan="2">{{ 'Weight'|trans }}</td>
                <td>1,3kg</td>
                <td>2,2kg</td>
                <td>2,2kg</td>
                <td>2,8kg</td>
                <td>2,9kg</td>
                <td>7,8kg sans bandoulière</td>
              </tr>
            </tbody>
          </table>

        </div>

        {% if content.body %}
          <div class="footnote">{{ content.body }}</div>
        {% endif %}
    
    </div><!-- .batteries_table -->

  {% elseif content.field_table_to_display['#items'][0].value == 'chainsaws' %}

    <div class="chainsaws_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

        <div class="table-scroll">
        
          <table class="chainsaws" border="0" width="" cellspacing="0" cellpadding="0">
            <tbody>
              <tr class="headers">
                <th scope="col"></th>
                <th colspan="3" scope="col">CS1400E / CS1401E</th>
                <th colspan="3" scope="col">CS1600E</th>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Blade length'|trans }}</th>
                <td colspan="3">35cm</td>
                <td colspan="3">40cm</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Chain speed'|trans }}</th>
                <td colspan="3">12,0m/s</td>
                <td colspan="3">13,5m/s</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Run time'|trans }}*</th>
                <td colspan="3"><strong>{{ 'Battery Size'|trans }}</strong></td>
                <td colspan="3"><strong>{{ 'Battery Size'|trans }}</strong></td>
              </tr>
              <tr class="shaded">
                <th scope="row"></th>
                <td><strong>2,0Ah</strong></td>
                <td><strong>4,0Ah</strong></td>
                <td><strong>7,5Ah</strong></td>
                <td><strong>2,0Ah</strong></td>
                <td><strong>5,0Ah</strong></td>
                <td><strong>7,5Ah</strong></td>
              </tr>
              <tr class="shaded">
                <th scope="row"></th>
                <td>Jusqu'à 100 coupes</td>
                <td>Jusqu'à 220 coupes</td>
                <td>Jusqu'à 450 coupes</td>
                <td>Jusqu'à 100 coupes</td>
                <td>Jusqu'à 300 coupes</td>
                <td>Jusqu'à 450 coupes</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Chain bar'|trans }}</th>
                <td colspan="3">AG1400</td>
                <td colspan="3">AG1600</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Chain type'|trans }}</th>
                <td colspan="3">AC1400 (90PX - 3/8" x 1,1mm)</td>
                <td colspan="3">AC1600 (90PX - 3/8" x 1,1mm)</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Oil reservoir'|trans }}</th>
                <td colspan="3">150ml</td>
                <td colspan="3">150ml</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Chain Oil'|trans }}</th>
                <td colspan="3">Automatique</td>
                <td colspan="3">Automatique</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Chain Brake'|trans }}</th>
                <td colspan="3">Oui</td>
                <td colspan="3">Oui</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Noise Rating'|trans }}</th>
                <td colspan="3">86LpA
                100LwA</td>
                <td colspan="3">85LpA
                99LwA</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Vibration (M/S<sup>2</sup>)'|trans }}</th>
                <td colspan="3">5,4/4,1</td>
                <td colspan="3">3,0/3,2</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Chain Tensioning'|trans }}</th>
                <td colspan="3">Sans outil</td>
                <td colspan="3">Sans outil</td>
              </tr>
              <tr>
                <th scope="row">{{ 'Weight without battery'|trans }}</th>
                <td colspan="3">3,7kg</td>
                <td colspan="3">3,86kg</td>
              </tr>
              <tr class="shaded">
                <th scope="row">{{ 'Motor Type'|trans }}</th>
                <td colspan="3">Sans balais</td>
                <td colspan="3">Sans balais</td>
              </tr>
            </tbody>
          </table>

        </div>
                
        {% if content.body %}
          <div class="footnote">{{ content.body }}</div>
        {% endif %}

    </div>

  {% elseif content.field_table_to_display['#items'][0].value == 'standard' %}

    <div class="standard_table">
  
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}
        
        <table class="standard" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <th scope="col"></th>
              <th scope="col">CS1400E</th>
              <th scope="col">CS1600E</th>
            </tr>
            <tr>
              <th scope="row">{{ 'Blade length'|trans }}</th>
              <td>35cm</td>
              <td>35cm</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Chain speed'|trans }}</th>
              <td>12.0m/s</td>
              <td>12.0m/s</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Run time'|trans }}*</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Chain bar'|trans }}</th>
              <td>AG1400</td>
              <td>AG1400</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Chain type'|trans }}</th>
              <td>AC1400</td>
              <td>AC1400</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Oil reservoir'|trans }}</th>
              <td>150ml</td>
              <td>150ml</td>
            </tr>
            <tr>
              <th scope="row">{{ 'Weight without battery'|trans }}</th>
              <td>3.7kg</td>
              <td>3.7kg</td>
            </tr>
          </tbody>
        </table>
                
        {% if content.body %}
          <div class="footnote">{{ content.body }}</div>
        {% endif %}

    </div>

  {% endif %}
{% endblock %}
