{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'content_block content_block_one_battery_multiple_tools'
  ]
%}

<div{{ attributes.addClass(classes) }}>

    <div class="one_battery_multiple_tools">

        <div class="upper_content">

            <div class="logo"><img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_logo.png"></div>
            
            <h2><span>One battery.</span> Multiple tools</h2>
            
            <p>EGO Power<sup>+</sup> 56V Arc Lithium battery works with all the tools in our range. Just click in and off you go.</p>
        
        </div><!-- .upper_content -->

        <div class="illustration">
        
            <div class="main_graphic_panel">

                <div class="circle_column circle_column_1">
                
                    <div class="circle circle_1_1">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_1_1.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_1_1.png);"></div>
                        
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Blowers</div>
                        
                        </div><!-- .label_wrapper -->
                    
                    </div><!-- .circle circle_1_1 -->
                    
                    <div class="circle circle_1_2">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_1_2.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_1_2.png);"></div>
                        
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Chain Saws</div>
                        
                        </div><!-- .label_wrapper -->
                    
                    </div><!-- .circle circle_1_2 -->
                
                </div><!-- circle_column circle_column_1 -->
                
                <div class="circle_column circle_column_2">
                
                    <div class="circle circle_2_1">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_2_1.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_2_1.png);"></div>
                    
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Mowers</div>
                        
                        </div><!-- .label_wrapper --> 
                    
                    </div><!-- .circle circle_2_1 -->
                    
                    <div class="circle circle_2_2">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_2_2.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_2_2.png);"></div>
                    
                    </div><!-- .circle circle_2_2 -->
                    
                    <div class="circle circle_2_3">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_2_3.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_2_3.png);"></div>
                    
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Hedge Trimmers</div>
                        
                        </div><!-- .label_wrapper -->
                    
                    </div><!-- .circle circle_2_3 -->
                
                </div><!-- circle_column circle_column_2 -->
                
                <div class="circle_column circle_column_3">
                
                    <div class="circle circle_3_1">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_3_1.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_3_1.png);"></div>
                        
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Line trimmers &amp;<br><span>EGO Power<sup>+</sup></span> Brush cutter</div>
                        
                        </div><!-- .label_wrapper -->
                    
                    </div><!-- .circle circle_3_1 -->
                    
                    <div class="circle circle_3_2">
                    
                        <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/circle_3_2.png">
                        
                        <div class="image" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_circle_3_2.png);"></div>
                        
                        <div class="label_wrapper">
                            
                            <div class="label"><span>EGO Power<sup>+</sup></span> Multi-tool</div>
                        
                        </div><!-- .label_wrapper -->
                    
                    </div><!-- .circle circle_3_2 -->
                
                </div><!-- circle_column circle_column_3 -->
                
                <div style="clear:both;"></div>
            
            </div><!-- .main_graphic_panel -->
            
            <div class="sidebar_panel">
            
                <ul class="sidebar_key">
                
                    <li>
                    
                        <div class="sidebar_key_item">
                        
                            <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_circle.png">
                        
                            <div class="title">Line trimmer</div>
                            
                            <div class="overlay" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_01.png);"></div>
                        
                        </div><!-- .sidebar_key_item -->
                    
                    </li>
                    
                    <li>
                    
                        <div class="sidebar_key_item">
                        
                            <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_circle.png">
                        
                            <div class="title">Hedge trimmer</div>
                            
                            <div class="overlay" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_02.png);"></div>
                        
                        </div><!-- .sidebar_key_item -->
                    
                    </li>
                    
                    <li>
                    
                        <div class="sidebar_key_item">
                        
                            <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_circle.png">
                        
                            <div class="title">Pole saw</div>
                            
                            <div class="overlay" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_03.png);"></div>
                        
                        </div><!-- .sidebar_key_item -->
                    
                    </li>
                    
                    <li>
                    
                        <div class="sidebar_key_item">
                        
                            <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_circle.png">
                        
                            <div class="title">Brush cutter</div>
                            
                            <div class="overlay" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_04.png);"></div>
                        
                        </div><!-- .sidebar_key_item -->
                    
                    </li>
                    
                    <li>
                    
                        <div class="sidebar_key_item">
                        
                            <img src="{{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_circle.png">
                        
                            <div class="title">Edger</div>
                            
                            <div class="overlay" style="background-image:url({{ base_path ~ directory }}/images/blocks/one_battery_multiple_tools/1bmt_side_05.png);"></div>
                        
                        </div><!-- .sidebar_key_item -->
                    
                    </li>
                
                </ul><!-- .sidebar_key -->
            
            </div><!-- .sidebar_panel -->
            
            <div style="clear:both;"></div>
        
        </div><!-- .illustration -->
        
        <div class="lower_content">

            <h2><span>Petrol power.</span> Without the petrol</h2>
            
            <h3>From the cordless specialists</h3>
            
            <p><a href="/products">View the full range <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
        
        </div><!-- .lower_content -->

    </div><!-- .one_battery_multiple_tools -->

</div>
