{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'content_block content_block_multi_tool_illustration'
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="illustration">
    
      <div class="panel_background"><img src="/{{base_path ~ directory}}/images/blocks/multi_tool_illustration/multi_tool_illustration_background.png"></div>
        
        <div class="connectors"><img src="/{{base_path ~ directory}}/images/blocks/multi_tool_illustration/multi_tool_illustration_connectors.png"></div>
        
        <div class="panel_foreground">
        
          <div class="first_row">
            
              <div class="attachment_01"><img src="{{ file_url(content.field_mt_image_one.0['#item'].entity.uri.value) }}"></div>
                
                <div class="power_unit"><img src="{{ file_url(content.field_mt_central_image.0['#item'].entity.uri.value) }}"></div>
                
                <div class="attachment_05"><img src="{{ file_url(content.field_mt_image_five.0['#item'].entity.uri.value) }}"></div>
            
            </div><!-- .first_row -->
            
            <div class="second_row">
            
              <div class="attachment_02"><img src="{{ file_url(content.field_mt_image_two.0['#item'].entity.uri.value) }}"></div>
                
                <div class="attachment_03"><img src="{{ file_url(content.field_mt_image_three.0['#item'].entity.uri.value) }}"></div>
                
                <div class="attachment_04"><img src="{{ file_url(content.field_mt_image_four.0['#item'].entity.uri.value) }}"></div>
            
            </div><!-- .second_row -->
        
        </div><!-- .panel_foreground -->
    
    </div><!-- .illustration -->
    
</div>
