{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'content_block content_block_' ~ content.field_table_to_display['#items'][0].value ~ '_table'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if content.field_table_to_display['#items'][0].value == 'blowers' %}

      <div class="blowers_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

        <div class="table-scroll">

         <table class="blowers scroll" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row">&nbsp;</th>
              <td colspan="3" scope="col">LB6000E / LB6002E</td>
              <td colspan="3" scope="col">LB4800E / LB4801E</td>
              <td colspan="3" scope="col">LB5300E</td>
              <td colspan="3" scope="col">LB5750E</td>
              </tr>
            <tr class="shaded">
              <th scope="row">Constant Speed</th>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">Run Time</th>
              <td class="no-right-border"><strong>2.5Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.5Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.5Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">Low Speed</th>
              <td class="no-right-border">-</td>
              <td class="no-right-border">Up to 120 mins</td>
              <td>-</td>
              <td class="no-right-border">Up to 60 mins</td>
              <td class="no-right-border">Up to 150 mins</td>
              <td>Up to 225 mins</td>
              <td class="no-right-border">Up to 75 mins</td>
              <td class="no-right-border">Up to 150 mins</td>
              <td>Up to 225 mins</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">Up to 150 mins</td>
              <td>Up to 225 mins</td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">High Speed</th>
              <td class="no-right-border">-</td>
              <td class="no-right-border">Up to 22 mins</td>
              <td>-</td>
              <td class="no-right-border">Up to 18 mins</td>
              <td class="no-right-border">Up to 45 mins</td>
              <td>Up to 70 mins</td>
              <td class="no-right-border">Up to 22 mins</td>
              <td class="no-right-border">Up to 44 mins</td>
              <td>Up to 66 mins</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">Up to 18 mins</td>
              <td>Up to 25 mins</td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row">Boost</th>
              <td class="no-right-border">-</td>
              <td class="no-right-border">Up to 15 mins</td>
              <td>-</td>
              <td class="no-right-border">Up to 10 mins</td>
              <td class="no-right-border">Up to 25 mins</td>
              <td>Up to 35 mins</td>
              <td class="no-right-border">Up to 10 mins</td>
              <td class="no-right-border">Up to 20 mins</td>
              <td>Up to 30 mins</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">-</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-bottom">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border"><strong>LOW</strong></td>
              <td class="no-right-border"><strong>HIGH</strong></td>
              <td><strong>BOOST</strong></td>
              <td class="no-right-border"><strong>LOW</strong></td>
              <td class="no-right-border"><strong>HIGH</strong></td>
              <td><strong>BOOST</strong></td>
              <td class="no-right-border"><strong>LOW</strong></td>
              <td class="no-right-border"><strong>HIGH</strong></td>
              <td><strong>BOOST</strong></td>
              <td class="no-right-border"><strong>LOW</strong></td>
              <td class="no-right-border"><strong>HIGH</strong></td>
              <td><strong>BOOST</strong></td>
            </tr>
            <tr class="shaded reduce-padding-top reduce-padding-bottom">
              <th scope="row">Air Volume (m<sup>3</sup>/h)</th>
              <td class="no-right-border">440</td>
              <td class="no-right-border">850</td>
              <td>1020</td>
              <td class="no-right-border">420</td>
              <td class="no-right-border">650</td>
              <td>810</td>
              <td class="no-right-border">440</td>
              <td class="no-right-border">675</td>
              <td>900</td>
              <td class="no-right-border">440</td>
              <td class="no-right-border">977</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-top reduce-padding-bottom">
              <th scope="row">Air Speed (km/h)</th>
              <td class="no-right-border">80</td>
              <td class="no-right-border">160</td>
              <td>192</td>
              <td class="no-right-border">72</td>
              <td class="no-right-border">120</td>
              <td>148</td>
              <td class="no-right-border">80</td>
              <td class="no-right-border">136</td>
              <td>176</td>
              <td class="no-right-border">80</td>
              <td class="no-right-border">212</td>
              <td>-</td>
            </tr>
            <tr class="shaded reduce-padding-top">
              <th scope="row">Force (N)</th>
              <td class="no-right-border">-</td>
              <td class="no-right-border">19</td>
              <td>-</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">-</td>
              <td>13</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">-</td>
              <td>16</td>
              <td class="no-right-border">-</td>
              <td class="no-right-border">18</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">Speed Setting</th>
              <td colspan="3">-</td>
              <td colspan="3">Variable speed with boost</td>
              <td colspan="3">Variable speed with boost</td>
              <td colspan="3">Variable speed with boost</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Weight Without Battery</th>
              <td colspan="3">-</td>
              <td colspan="3">2.3g</td>
              <td colspan="3">2.2kg</td>
              <td colspan="3">2.2kg</td>
            </tr>
            <tr>
              <th scope="row">Motor Type</th>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Noise Rating</th>
              <td colspan="3">83LpA / 97LwA</td>
              <td colspan="3">82LpA / 97LwA</td>
              <td colspan="3">82LpA / 97LwA</td>
              <td colspan="3">83LpA / 95LwA</td>
            </tr>
            <tr>
              <th scope="row">Vibration (m/s<sup>2</sup>)</th>
              <td colspan="3">1.5</td>
              <td colspan="3">1.1</td>
              <td colspan="3">1.35</td>
              <td colspan="3">1.4</td>
            </tr>
          </tbody>
        </table>

      </div>

      {% if content.body %}
        <div class="footnote">{{ content.body }}</div>
      {% endif %}
    
      </div>

    {% elseif content.field_table_to_display['#items'][0].value == 'hedge-trimmers' %}

      <div class="hedge-trimmers_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

        <div class="table-no-scroll">

         <table class="hedge-trimmers" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row">&nbsp;</th>
              <td colspan="3" scope="col">HT2400E / HT2401E</td>
              <td colspan="3" scope="col">HT5100E</td>
              <td colspan="3" scope="col">HT6500E</td>
              </tr>
            <tr class="shaded">
              <th scope="row">Blade Length</th>
              <td colspan="3">61cm</td>
              <td colspan="3">51cm</td>
              <td colspan="3">65cm</td>
            </tr>
            <tr>
              <th scope="row">Blade Gap</th>
              <td colspan="3">22mm</td>
              <td colspan="3">33mm</td>
              <td colspan="3">33mm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Blade Tooth Depth</th>
              <td colspan="3">17mm</td>
              <td colspan="3">20mm</td>
              <td colspan="3">20mm</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">Run Time</th>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border">Up to 60 mins</td>
              <td class="no-right-border">Up to 120 mins</td>
              <td>Up to 225 mins</td>
              <td class="no-right-border">Up to 34 mins</td>
              <td class="no-right-border">Up to 86 mins</td>
              <td>Up to 129 mins</td>
              <td class="no-right-border">Up to 30 mins</td>
              <td class="no-right-border">Up to 75 mins</td>
              <td>Up to 113 mins</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Speed Control</th>
              <td colspan="3">Single speed</td>
              <td colspan="3">Two-speed</td>
              <td colspan="3">Two-speed</td>
            </tr>
            <tr>
              <th scope="row">No Load Speeds</th>
              <td colspan="3">2,600spm</td>
              <td colspan="3">2,800/3,200spm</td>
              <td colspan="3">2,800/3,200spm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Blade Type</th>
              <td colspan="3">Laser cut; diamond ground</td>
              <td colspan="3">Laser cut; diamond ground</td>
              <td colspan="3">Laser cut; diamond ground</td>
            </tr>
            <tr>
              <th scope="row">Cutting Action</th>
              <td colspan="3">Dual action; single-sided cutting blade</td>
              <td colspan="3">Dual action; double-sided cutting blade</td>
              <td colspan="3">Dual action; double-sided cutting blade</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Blade Tip Protector</th>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
            </tr>
            <tr>
              <th scope="row">Sound Pressure</th>
              <td colspan="3">83LpA<br>94LwA</td>
              <td colspan="3">79LpA<br>92LwA</td>
              <td colspan="3">80LpA<br>93LwA</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Rotating Handle</th>
              <td colspan="3">No</td>
              <td colspan="3">45&deg; and 90&deg; left and right</td>
              <td colspan="3">45&deg; and 90&deg; left and right</td>
            </tr>
            <tr>
              <th scope="row">Weight without Battery</th>
              <td colspan="3">3.0kg</td>
              <td colspan="3">3.6kg</td>
              <td colspan="3">3.8kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Motor Type</th>
              <td colspan="3">Brushed</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
            </tr>
            <tr>
              <th scope="row">Vibration (M/S<sup>2</sup></th>
              <td colspan="3">2.0/1.5</td>
              <td colspan="3">3.5/4.9</td>
              <td colspan="3">4.5/5.1</td>
            </tr>
          </tbody>
        </table>

      </div>

      {% if content.body %}
        <div class="footnote">{{ content.body }}</div>
      {% endif %}

    {% elseif content.field_table_to_display['#items'][0].value == 'line-trimmers' %}

      <div class="line-trimmers_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

        <div class="table-scroll">

         <table class="line-trimmers scroll" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row">&nbsp;</th>
              <td colspan="3" scope="col">ST1210E / ST1211E</td>
              <td colspan="3" scope="col">ST1300E</td>
              <td colspan="3" scope="col">ST1500E-F</td>
              <td colspan="3" scope="col">BC1500E-F</td>
              </tr>
            <tr class="shaded">
              <th scope="row">Cutting Width</th>
              <td colspan="3">30cm</td>
              <td colspan="3">33cm</td>
              <td colspan="3">38cm</td>
              <td colspan="3">15", 38cm</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">Run Time</th>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border">Up to 35 mins</td>
              <td class="no-right-border">Up to 70 mins</td>
              <td>Up to 135 mins</td>
              <td class="no-right-border">Up to 55 mins</td>
              <td class="no-right-border">Up to 140 mins</td>
              <td>Up to 210 mins</td>
              <td class="no-right-border">Up to 45 mins</td>
              <td class="no-right-border">Up to 110 mins</td>
              <td>Up to 160 mins</td>
              <td class="no-right-border">Up to 45 mins</td>
              <td class="no-right-border">Up to 110 mins</td>
              <td>Up to 160 mins</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Speed Control</th>
              <td colspan="3">Constant Speed<br>Single speed</td>
              <td colspan="3">Constant Speed<br>Two-speed</td>
              <td colspan="3">Constant Speed<br>Variable speed</td>
              <td colspan="3">Constant variable speed</td>
            </tr>
            <tr>
              <th scope="row">No Load Speeds</th>
              <td colspan="3">7,000spm</td>
              <td colspan="3">5,200/6,500spm</td>
              <td colspan="3">4,000/5,800spm</td>
              <td colspan="3">N/A</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Soft-Start</th>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">N/A</td>
            </tr>
            <tr>
              <th scope="row">Line Diameter</th>
              <td colspan="3">2.0mm</td>
              <td colspan="3">2.0mm</td>
              <td colspan="3">2.4mm</td>
              <td colspan="3">2.4mm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Line Feed</th>
              <td colspan="3">Bump feed head</td>
              <td colspan="3">Bump feed head</td>
              <td colspan="3">Rapid reload bump feed head</td>
              <td colspan="3">Rapid reload bump feed head</td>
            </tr>
            <tr>
              <th scope="row">Dual Line</th>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">N/A</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Rotating Direction</th>
              <td colspan="3">Clockwise</td>
              <td colspan="3">Clockwise</td>
              <td colspan="3">Clockwise</td>
              <td colspan="3">Clockwise</td>
            </tr>
            <tr>
              <th scope="row">Auxiliary Handle</th>
              <td colspan="3">Loop and quick-adjust</td>
              <td colspan="3">Loop and quick-adjust</td>
              <td colspan="3">Loop and quick-adjust</td>
              <td colspan="3">N/A</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Harness</th>
              <td colspan="3">N/A</td>
              <td colspan="3">N/A</td>
              <td colspan="3">Single shoulder<br />(harness supplied)</td>
              <td colspan="3">N/A</td>
            </tr>
            <tr>
              <th scope="row">Weight without battery</th>
              <td colspan="3">2.85kg</td>
              <td colspan="3">2.7kg</td>
              <td colspan="3">3.2kg</td>
              <td colspan="3">3.85kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Vibration (M/S<sup>2</sup>)</th>
              <td colspan="3">3.3 / 4.9</td>
              <td colspan="3">0.6 / 2.3</td>
              <td colspan="3">2.2 / 1.7</td>
              <td colspan="3">4.3 / 2.9</td>
            </tr>
            <tr>
              <th scope="row">Motor Type</th>
              <td colspan="3">Brushed</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushless</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Noise Rating</th>
              <td colspan="3">75LpA<br />91LwA</td>
              <td colspan="3">71LpA<br />91LwA</td>
              <td colspan="3">71LpA<br />91LwA</td>
              <td colspan="3">70LpA<br />86LwA</td>
            </tr>
          </tbody>
        </table>

      </div>

      {% if content.body %}
        <div class="footnote">{{ content.body }}</div>
      {% endif %}
    
      </div>

    {% elseif content.field_table_to_display['#items'][0].value == 'brush-cutters' %}

    <div class="brush-cutters_table">
    
      {% if content.field_title %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}
     
      <div class="table-scroll">

        <table class="brush-cutters" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="col"></th>
              <th scope="col" colspan="3">BC3800E</th>
            </tr>
            <tr class="shaded">
              <th scope="row">Cutting Width</th>
              <td colspan="3">Three-sided blade: 30cm
                <br>
                Line trimmer head: 38cm </td>
            </tr>
            <tr>
              <th scope="row">Run time*</th>
              <td colspan="3"><strong>Battery Size</strong></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td class="no-right-border"><strong>6.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="no-right-border">Up to 30 mins</td>
              <td class="no-right-border">Up to 50 mins</td>
              <td>Up to 65 mins</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Blade material</th>
              <td colspan="3">Three-sided reversible steel blade</td>
            </tr>
            <tr>
              <th scope="row">Speed control</th>
              <td colspan="3">Constant variable speed</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Line diameter</th>
              <td colspan="3">2.4mm</td>
            </tr>
            <tr>
              <th scope="row">Line feed</th>
              <td colspan="3">Rapid reload bump feed head</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Rotating Direction</th>
              <td colspan="3">Anti clockwise</td>
            </tr>
            <tr>
              <th scope="row">Weight without battery</th>
              <td colspan="3">Three-sided blade: 3.54kg<br>Line trimmer head: 4.43kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Motor type</th>
              <td colspan="3">Brushless</td>
            </tr>
          </tbody>
        </table>

      </div>
              
      {% if content.body %}
        <div class="footnote">{{ content.body }}</div>
      {% endif %}

    </div>

    {% elseif content.field_table_to_display['#items'][0].value == 'mowers' %}

      <div class="mowers_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

        <div class="table-scroll">

         <table class="mowers scroll" width="" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="headers">
              <th scope="row">&nbsp;</th>
              <td colspan="3" scope="col">LM2001E</td>
              <td colspan="3" scope="col">LM2011E</td>
              <td colspan="3" scope="col">LM2024E</td>
              <td colspan="3" scope="col">LM2014E-SP</td>
              <td colspan="3" scope="col">LM2024E-SP</td>
              <td colspan="3" scope="col">LM2102E-SP</td>
              </tr>
            <tr class="shaded">
              <th scope="row">Cutting Capacity</th>
              <td colspan="3">49cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">50cm</td>
              <td colspan="3">52cm</td>
            </tr>
            <tr>
              <th scope="row">Self-Propelled Speed</th>
              <td colspan="3">No</td>
              <td colspan="3">No</td>
              <td colspan="3">No</td>
              <td colspan="3">0.6-1.4m/s (2.2-5.0km/h)</td>
              <td colspan="3">0.6-1.4m/s (2.2-5.0km/h)</td>
              <td colspan="3">0.6-1.4m/s (2.2-5.0km/h)</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Cutting Deck Material</th>
              <td colspan="3">Poly</td>
              <td colspan="3">Steel</td>
              <td colspan="3">Steel</td>
              <td colspan="3">Steel</td>
              <td colspan="3">Steel</td>
              <td colspan="3">Poly</td>
            </tr>
            <tr class="reduce-padding-bottom">
              <th scope="row">Run Time</th>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
              <td colspan="3"><strong>BATTERY SIZE</strong></td>
            </tr>
            <tr class="reduce-padding-top reduce-padding-bottom">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>4.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>5.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>6.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>6.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>6.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
              <td class="no-right-border"><strong>2.0Ah</strong></td>
              <td class="no-right-border"><strong>6.0Ah</strong></td>
              <td><strong>7.5Ah</strong></td>
            </tr>
            <tr class="reduce-padding-top">
              <th scope="row">&nbsp;</th>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 45 mins</td>
              <td>Up to 75 mins</td>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 40 mins</td>
              <td>Up to 65 mins</td>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 45 mins</td>
              <td>Up to 60 mins</td>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 35 mins</td>
              <td>Up to 45 mins</td>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 35 mins</td>
              <td>Up to 45 mins</td>
              <td class="no-right-border">N/A</td>
              <td class="no-right-border">Up to 40 mins</td>
              <td>Up to 50 mins</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Cutting Speed Control</th>
              <td colspan="3">Constant speed</td>
              <td colspan="3">Automatic Variable Speed**</td>
              <td colspan="3">Automatic Variable Speed**</td>
              <td colspan="3">Automatic Variable Speed**</td>
              <td colspan="3">Automatic Variable Speed**</td>
              <td colspan="3">Automatic Variable Speed**</td>
            </tr>
            <tr>
              <th scope="row">No Load Speed</th>
              <td colspan="3">3,300rpm</td>
              <td colspan="3">3,150pm</td>
              <td colspan="3">3,000rpm</td>
              <td colspan="3">3,150rpm</td>
              <td colspan="3">3,000rpm</td>
              <td colspan="3">2,800rpm</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Cut Height Settings</th>
              <td colspan="3">25/35/50/65/80mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">25/35/50/65/80/95mm</td>
              <td colspan="3">28/38/52/64/80/94mm</td>
            </tr>
            <tr>
              <th scope="row">Handle Heights</th>
              <td colspan="3">Two - user adjustable</td>
              <td colspan="3">Three - user adjustable</td>
              <td colspan="3">Three - user adjustable</td>
              <td colspan="3">Three - user adjustable</td>
              <td colspan="3">Three - user adjustable</td>
              <td colspan="3">Three - user adjustable</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Rear Collection</th>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">60L</td>
              <td colspan="3">70L</td>
            </tr>
            <tr>
              <th scope="row">Functions</th>
              <td colspan="3">Mulching and collect</td>
              <td colspan="3">Mulch, collect, side discharge</td>
              <td colspan="3">Mulch, collect, side discharge</td>
              <td colspan="3">Mulch, collect, side discharge</td>
              <td colspan="3">Mulch, collect, side discharge</td>
              <td colspan="3">Mulch, collect, side discharge&dagger;</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Noise Rating</th>
              <td colspan="3">84LpA<br>94LwA</td>
              <td colspan="3">83LpA<br>94LwA</td>
              <td colspan="3">84LpA<br>96LwA</td>
              <td colspan="3">86LpA<br>96LwA</td>
              <td colspan="3">84LpA<br>96LwA</td>
              <td colspan="3">84LpA<br>98LwA</td>
            </tr>
            <tr>
              <th scope="row">Vibration (M/S<sup>2</sup></th>
              <td colspan="3">1.2</td>
              <td colspan="3">1.6</td>
              <td colspan="3">1.6</td>
              <td colspan="3">1.1</td>
              <td colspan="3">1.0</td>
              <td colspan="3">1.0</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Vertical Storage</th>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
              <td colspan="3">Yes</td>
            </tr>
            <tr>
              <th scope="row">Weight without battery</th>
              <td colspan="3">26kg</td>
              <td colspan="3">25kg</td>
              <td colspan="3">27kg</td>
              <td colspan="3">28kg</td>
              <td colspan="3">29.5kg</td>
              <td colspan="3">28kg</td>
            </tr>
            <tr class="shaded">
              <th scope="row">Motor Type</th>
              <td colspan="3">Brushed</td>
              <td colspan="3">Brushed</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushed</td>
              <td colspan="3">Brushless</td>
              <td colspan="3">Brushed</td>
            </tr>
          </tbody>
        </table>

      </div>

      {% if content.body %}
        <div class="footnote">{{ content.body }}</div>
      {% endif %}

    {% elseif content.field_table_to_display['#items'][0].value == 'batteries' %}

      <div class="batteries_table">
      
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

          <div class="table-scroll">

          <table class="batteries" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr class="title">
                <td colspan="8">Performance statistics</td>
              </tr>
              <tr class="battery">
                <td colspan="2" class="label">Battery</td>
                <td class="label">2.0Ah</td>
                <td class="label">4.0Ah</td>
                <td class="label">5.0Ah</td>
                <td class="label">6.0Ah</td>
                <td class="label">7.5Ah</td>
                <td class="label">Backpack Battery</td>
              </tr>
              <tr class="capacity">
                <td colspan="2" class="label">Capacity (WH/AH)</td>
                <td>112/2.0</td>
                <td>224/4.0</td>
                <td>280/5.0</td>
                <td>336/6.0</td>
                <td>420/7.5</td>
                <td>1299Wh at 56v rated</td>
              </tr>
              <tr class="charge_times">
                <td rowspan="2" class="label">Charge times</td>
                <td class="label">Rapid charger</td>
                <td>25 mins</td>
                <td>30 mins</td>
                <td>40 mins</td>
                <td>45 mins</td>
                <td>60 mins</td>
                <td>240 mins</td>
              </tr>
              <tr class="charge_times">
                <td class="label">Standard charger</td>
                <td>40 mins</td>
                <td>80 mins</td>
                <td>100 mins</td>
                <td>115 mins</td>
                <td>145 mins</td>
                <td>NA</td>
              </tr>
              <tr class="weight">
                <td colspan="2" class="label">Weight</td>
                <td>1.3kg</td>
                <td>2.2kg</td>
                <td>2.2kg</td>
                <td>2.8kg</td>
                <td>2.9kg</td>
                <td>7.8kg without harness</td>
              </tr>
            </tbody>
          </table>

          </div>

          {% if content.body %}
            <div class="footnote">{{ content.body }}</div>
          {% endif %}
      
      </div><!-- .batteries_table -->

    {% elseif content.field_table_to_display['#items'][0].value == 'chainsaws' %}

      <div class="chainsaws_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}

          <div class="table-scroll">
          
          <table class="chainsaws scroll" width="" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr class="headers">
                <th scope="col"></th>
                <th scope="col" colspan="3">CS1400E / CS1401E</th>
                <th scope="col" colspan="3">CS1600E</th>
              </tr>
              <tr class="shaded">
                <th scope="row">Blade length</th>
                <td colspan="3">35cm</td>
                <td colspan="3">40cm</td>
              </tr>
              <tr>
                <th scope="row">Chain speed</th>
                <td colspan="3">12.0m/s</td>
                <td colspan="3">13.5m/s</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Run time*</th>
                <td colspan="3"><strong>Battery Size</strong></td>
                <td colspan="3"><strong>Battery Size</strong></td>
              </tr>
              <tr class="shaded">
                <th scope="row"></th>
                <td class="no-right-border"><strong>2.0Ah</strong></td>
                <td class="no-right-border"><strong>4.0Ah</strong></td>
                <td><strong>7.5Ah</strong></td>
                <td class="no-right-border"><strong>2.0Ah</strong></td>
                <td class="no-right-border"><strong>5.0Ah</strong></td>
                <td><strong>7.5Ah</strong></td>
              </tr>
              <tr class="shaded">
                <th scope="row"></th>
                <td class="no-right-border">Up to 100 cuts</td>
                <td class="no-right-border">Up to 220 cuts</td>
                <td>Up to 450 cuts</td>
                <td class="no-right-border">Up to 100 cuts</td>
                <td class="no-right-border">Up to 300 cuts</td>
                <td>Up to 450 cuts</td>
              </tr>
              <tr>
                <th scope="row">Chain bar</th>
                <td colspan="3">AG1400</td>
                <td colspan="3">AG1600</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Chain type</th>
                <td colspan="3">AC1400 (90PX - 3/8" x 1.1mm)</td>
                <td colspan="3">AC1600 (90PX - 3/8" x 1.1mm)</td>
              </tr>
              <tr>
                <th scope="row">Oil reservoir</th>
                <td colspan="3">150ml</td>
                <td colspan="3">150ml</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Chain Oil</th>
                <td colspan="3">Automatic</td>
                <td colspan="3">Automatic</td>
              </tr>
              <tr>
                <th scope="row">Chain Brake</th>
                <td colspan="3">Yes</td>
                <td colspan="3">Yes</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Noise Rating</th>
                <td colspan="3">86LpA<br>100LwA</td>
                <td colspan="3">85LpA<br>99LwA</td>
              </tr>
              <tr>
                <th scope="row">Vibration (M/S<sup>2</sup>)</th>
                <td colspan="3">5.4/4.1</td>
                <td colspan="3">3.0/3.2</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Chain Tensioning</th>
                <td colspan="3">Tool Free</td>
                <td colspan="3">Tool Free</td>
              </tr>
              <tr>
                <th scope="row">Weight without battery</th>
                <td colspan="3">3.7kg</td>
                <td colspan="3">3.86kg</td>
              </tr>
              <tr class="shaded">
                <th scope="row">Motor Type</th>
                <td colspan="3">Brushless</td>
                <td colspan="3">Brushless</td>
              </tr>
            </tbody>
          </table>

          </div>
                  
          {% if content.body %}
            <div class="footnote">{{ content.body }}</div>
          {% endif %}

      </div>

    {% elseif content.field_table_to_display['#items'][0].value == 'standard' %}

      <div class="standard_table">
    
        {% if content.field_title %}
          <div class="title">{{ content.field_title }}</div>
        {% endif %}
          
          <table class="standard" width="" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <th scope="col"></th>
                <th scope="col">CS1400E</th>
                <th scope="col">CS1600E</th>
              </tr>
              <tr>
                <th scope="row">Blade length</th>
                <td>35cm</td>
                <td>35cm</td>
              </tr>
              <tr>
                <th scope="row">Chain speed</th>
                <td>12.0m/s</td>
                <td>12.0m/s</td>
              </tr>
              <tr>
                <th scope="row">Run time*</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th scope="row">Chain bar</th>
                <td>AG1400</td>
                <td>AG1400</td>
              </tr>
              <tr>
                <th scope="row">Chain type</th>
                <td>AC1400</td>
                <td>AC1400</td>
              </tr>
              <tr>
                <th scope="row">Oil reservoir</th>
                <td>150ml</td>
                <td>150ml</td>
              </tr>
              <tr>
                <th scope="row">Weight without battery</th>
                <td>3.7kg</td>
                <td>3.7kg</td>
              </tr>
            </tbody>
          </table>
                  
          {% if content.body %}
            <div class="footnote">{{ content.body }}</div>
          {% endif %}

      </div>

    {% endif %}
  {% endblock %}
</div>
