 {#
/**
 * @file
 * Theme for overall site footer
  */
#}
        </div><!-- #main -->
        
        <footer>

            <div id="footer_inner">

                {{ page.footer_menus }}           
                
                <div id="footer_contact">
                
                    <form method="get" id="signup_form" action="/sign-up-for-offers/">
                    
                    	<div id="signup_button_wrapper">
                
                        	<input type="submit" value="{{ 'Sign up'|trans }}" />
                            
                        </div><!-- #signup_button_wrapper -->
                    
                    	<div id="signup_input_wrapper">
                
                        	<input type="text" value="" name="email" id="email" placeholder="{{ 'Enter email for updates'|trans }}" />
                            
                        </div><!-- #signup_input_wrapper --> 

                    </form>

                </div><!-- #footer_contact -->    
                
                {{ page.footer_social }}

            </div><!-- #footer_inner -->
        
        </footer>

    </div><!-- #site_wrapper -->
    
	{% include '@egopowerplus/layout/mobile-menu.html.twig' %}

    {% if cookie_url %}

    <div class="cookie_overlay">

        <div class="cookie_content">
            <p>{{ 'Cookie Disclaimer'|trans }}</p>
            <ul class="cookie_links">
                <li class="cookie_link_detail"><a href="{{ cookie_url }}">{{ 'Cookie Details'|trans }}</a></li>
                <li class="cookie_link_button"><a href="javascript:void(0);">{{ 'Allow Cookies'|trans }}</a></li>
                <li class="cookie_link_disallow"><a href="http://www.google.com">{{ 'Disallow Cookies'|trans }}</a></li>
            </ul>
        </div>

    </div>

    {% endif %}

</div><!-- #global_wrapper -->
