{#
/**
 * @file
 * Theme override to display a product.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{{ attach_library('classy/node') }}

{% set taxonomy = content.field_product_type[0]['#title']|lower|replace({' ': '-', '&': ''})|replace({'--':'-'}) %}

<div id="potential_js_breadcrumbs" data-summary="{{ 'Summary'|trans }}" data-features="{{ 'Features'|trans }}" data-specification="{{ 'Specification'|trans }}" data-parts-accessories="{{ 'Parts & Accessories'|trans }}" data-questions="{{ 'Questions'|trans }}" data-reviews="{{ 'Reviews'|trans }}"></div>

<div id="summary" class="content_block content_block_single_product_details category-{{ taxonomy }}">

  <div class="single_product_details">

    {% if node.field_promo_badge_one[0].entity.uri.value is not empty %}
      {% if node.field_promo_badge_one_link.0.url %}
        <a href="{{ node.field_promo_badge_one_link.0.url }}">
      {% endif %}
        <span class="promo-roundel" style="background-image:url({{ file_url(node.field_promo_badge_one[0].entity.uri.value) }});">&nbsp;</span>
      {% if node.field_promo_badge_one_link.0.url %}
        </a>
      {% endif %}
    {% endif %}

    {% if node.field_promo_badge_two[0].entity.uri.value is not empty %}
      {% if node.field_promo_badge_two_link.0.url %}
        <a href="{{ node.field_promo_badge_two_link.0.url }}">
      {% endif %}
        <span class="promo-roundel-two" style="background-image:url({{ file_url(node.field_promo_badge_two[0].entity.uri.value) }});">&nbsp;</span>
      {% if node.field_promo_badge_two_link.0.url %}
        </a>
      {% endif %}
    {% endif %}

        {{ content.field_product_image }}
        
        <div class="info_panel">
        
          <div class="code">{{ node.field_sku[0].value }}</div>
            
            <div class="product_name">{{ node.field_product_name[0].value }}</div>
            
              {% if node.field_badge_one_text[0].value or node.field_badge_two_text[0].value %}

              <ul class="badges">
              
                {% if node.field_badge_two_text[0].value %}
                  <li class="info"><span>{{ content.field_badge_two_text }}</span></li>
                {% endif %}
                  
                {% if node.field_badge_one_text[0].value %}
                  <li{% if node.field_new_for_2017[0].value %} class="new"{% endif %}><span>{{ content.field_badge_one_text }}</span></li>
                {% endif %}
              
              </ul><!-- .badges -->

            {% endif %}
            
            <div class="description">
            
              {{ content.body }}

              {% if node.field_kit_product[0].value or node.field_kit_alternative[0].value %}

                <p>{{ content.field_kit_link }}</p>

              {% endif %}
            
            </div><!-- .description -->
            
            <div class="price">
            
              <span>{{ 'Suggested Retail Price Abbreviation'|trans }}</span><br>{{ 'Currency Icon'|trans }}{{ node.field_price[0].value }}
            
            </div><!-- .price -->

            {% if node.field_remove_reviews[0].value != 1 %}

              <div class="reviews">
        
                <div class="bazaarvoice-rating-summary-wrapper">
                  <div id="BVRRSummaryContainer"></div>
                  <div class="bazaarvoice-reviews-wrapper">
                      <script>$BV.ui('rr', 'show_reviews');</script>
                  </div>
                </div>
            
              </div><!-- .reviews -->

            {% endif %}
            
            <ul class="links">

              {% if node.field_buy_online_url.0.url %}
                {% set buy_online_uri = node.field_buy_online_url.0.url %}
              {% else %}
                {% set buy_online_uri = '/where-to-buy/' %}
              {% endif %}
            
                <li class="buy_online"><a href="{{ buy_online_uri }}" target="_blank" class="buy-online">{{ 'Buy online'|trans }} <i class="fa fa-angle-right"></i></a></li>

              {% if node.field_authorised_dealer_url.0.url %}
                
                <li class="find_dealer"><a href="{{ node.field_authorised_dealer_url.0.url }}" class="find-stockist">{{ 'Find a stockist'|trans }} <i class="fa fa-angle-right"></i></a></li>
              
              {% endif %}
            
            </ul><!-- .links -->

            {% if node.field_show_product_info_section[0].value %} 
            
              <p><strong>{{ node.field_product_info_lead_in_text[0].value }}</strong></p>
              
              <div class="includes_panel">
              
                {{ content.field_product_info_main_content }}
              
              </div><!-- .includes_panel -->

            {% endif %}
        
        </div><!-- .info_panel -->
    
    </div><!-- .single_product_details -->

</div>

{% include '@egopowerplus/product/product-features--' ~ taxonomy ~ '.html.twig' ignore missing %}

{% include '@egopowerplus/product/specification--' ~ taxonomy ~ '.html.twig' ignore missing %}
