{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'content_block content_block_single_product_documents_and_downloads'
  ]
%}

{% if product_manual.entity.uri.value or safety_sheet.entity.uri.value %}

  <div{{ attributes.addClass(classes) }}>

    <div class="documents_and_downloads">
      
        <div class="title">Documents and downloads</div>

        <ul class="links">
          
            {% if product_manual.entity.uri.value %}

              <li>
                
                  <a href="{{ file_url(product_manual.entity.uri.value) }}" class="link">
                    
                      <div class="image" style="background-image:url(/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/download_product_manual.png);">

                <img src="/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/dimensional_assurance_100_100.png">
                        
                        </div><!-- .image -->
                        
                      <div class="image svg" style="background-image:url(/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/download_product_manual.svg);">

                <img src="/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/dimensional_assurance_100_100.png">
                        
                        </div><!-- .image svg -->
                        
                        <div class="document_name">Download Product Manual</div>
                    
                    </a><!-- .link -->
                
                </li>

              {% endif %}

              {% if safety_sheet.entity.uri.value %}
              
                <li>
                
                  <a href="{{ file_url(safety_sheet.entity.uri.value) }}" class="link">
                    
                    <div class="image" style="background-image:url(/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/download_safety_data_sheet.png);">

                      <img src="/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/dimensional_assurance_100_100.png">
                        
                    </div><!-- .image -->
                        
                    <div class="image svg" style="background-image:url(/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/download_safety_data_sheet.svg);">

                      <img src="/{{base_path ~ directory}}/images/blocks/single_product_documents_and_downloads/dimensional_assurance_100_100.png">
                        
                    </div><!-- .image svg -->
                        
                    <div class="document_name">Download Safety Data Sheet</div>
                    
                  </a><!-- .link -->
                
                </li>

              {% endif %}
          
          </ul><!-- .links -->

      </div><!-- .documents_and_downloads -->

  </div>

{% endif %}
