<div id="product_features" class="content_block content_block_single_product_features">

	<div class="single_product_features">

  		<div class="title">Product features</div>
        
        <ul class="features">

            {% if node.field_show_mower_ft_cutting_cap.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/cutting_capacity.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/cutting_capacity.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mower_ft_cutting_cap }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mower_ft_cutting_deck.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/cutting_deck.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/cutting_deck.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mower_ft_cutting_deck }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mower_ft_cutting_spd.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/cutting_speed.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/cutting_speed.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mower_ft_cutting_spd }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mower_ft_self_prop.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/self_propelled.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/self_propelled.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mower_ft_self_prop }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mower_ft_brushless.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/brushless_motor.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/brushless_motor.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mower_ft_brushless }}</div>
                    
                    </div>
                
                </li>

            {% endif %}
        
        </ul><!-- .features -->
    
    </div><!-- .single_product_features -->

</div>
