<div class="content_block content_block_single_product_features">

	<div class="single_product_features">

  		<div class="title">Product features</div>
        
        <ul class="features">

            {% if node.field_show_mt_ft_brushless.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/brushless_motor.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/brushless_motor.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_brushless }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_variable.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/variable_speed.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/variable_speed.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_variable }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_two_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/two_speed.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/two_speed.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_two_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_quick_change.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/quick_change.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/quick_change.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_quick_change }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_blade_length.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/blade_length.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/blade_length.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_blade_length }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_blade_gap.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/blade_gap.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/blade_gap.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_blade_gap }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_dual_action.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/dual_action.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/dual_action.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_dual_action }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_laser_cut.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/laser_cut.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/laser_cut.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_laser_cut }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_angle.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/adjustable_cutting_angle.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/adjustable_cutting_angle.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_angle }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_bar_length.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/bar_length.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/bar_length.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_bar_length }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_chain_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/chain_speed.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/chain_speed.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_chain_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_width.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/cutting_width.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/cutting_width.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_width }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_line_diameter.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/line_diameter.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/line_diameter.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_line_diameter }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_reload_head.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/rapid_reload_head.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/rapid_reload_head.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_reload_head }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_bump_line.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/bump_line_feed.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/bump_line_feed.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_bump_line }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_reversible.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/reversible_cutting_blade.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/reversible_cutting_blade.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_reversible }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_blade.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/cutting_blade.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/cutting_blade.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_blade }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_depth.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/adjustable_cutting_depth.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/adjustable_cutting_depth.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_depth }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_carbon_fibre.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/png/carbon_fibre.png);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url(/{{base_path ~ directory}}/images/product_feature_icons/svg/carbon_fibre.svg);"><img src="/{{base_path ~ directory}}/images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_carbon_fibre }}</div>
                    
                    </div>
                
                </li>

            {% endif %}
        
        </ul><!-- .features -->
    
    </div><!-- .single_product_features -->

</div>
