<div  id="product_features"class="content_block content_block_single_product_features">

	<div class="single_product_features">

  		<div class="title">Product features</div>
        
        <ul class="features">

            {% if node.field_show_lt_ft_cutting_width.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/cutting_width.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/cutting_width.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_cutting_width }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_line_diameter.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/line_diameter.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/line_diameter.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_line_diameter }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_bump_line.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/bump_line_feed.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/bump_line_feed.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_bump_line }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_quick_adjust.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/quick_adjust_handle.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/quick_adjust_handle.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_quick_adjust }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_two_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/two_speed.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/two_speed.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_two_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_brushless.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/brushless_motor.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/brushless_motor.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_brushless }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_reload_head.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/rapid_reload_head.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/rapid_reload_head.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_reload_head }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_reversible_cut.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/reversible_cutting_blade.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/reversible_cutting_blade.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_reversible_cut }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_variable_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/variable_speed.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/variable_speed.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_variable_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_lt_ft_backpack.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/use_with_backpack.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/use_with_backpack.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_lt_ft_backpack }}</div>
                    
                    </div>
                
                </li>

            {% endif %}
        
        </ul><!-- .features -->
    
    </div><!-- .single_product_features -->

</div>
