<div class="content_block content_block_single_product_features">

	<div class="single_product_features">

  		<div class="title">Product features</div>
        
        <ul class="features">

            {% if node.field_show_mt_ft_brushless_length.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_brushless_length }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_variable.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_variable }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_two_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_two_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_quick_change.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_quick_change }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_blade_length.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_blade_length }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_blade_gap.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_blade_gap }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_dual_action.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_dual_action }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_laser_cut.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_laser_cut }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_angle.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_angle }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_bar_length.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_bar_length }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_chain_speed.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_chain_speed }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_width.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_width }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_line_diameter.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_line_diameter }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_reload_head.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_reload_head }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_bump_line.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_bump_line }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_reversible.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_reversible }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_blade.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_blade }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_cutting_depth.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_cutting_depth }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if node.field_show_mt_ft_carbon_fibre.value %}

                <li>
                
                    <div class="feature">
                    
                        <div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                        
                        <div class="label">{{ content.field_mt_ft_carbon_fibre }}</div>
                    
                    </div>
                
                </li>

            {% endif %}
        
        </ul><!-- .features -->
    
    </div><!-- .single_product_features -->

</div>
