{#
/**
 * @file
 * Block to display the specification fields (if available) for blowers
 *
 * Fields: Run Time 2.0Ah - Low (mins)
 * Run Time 2.0Ah - High (mins)
 * Run Time 2.0Ah - Boost (mins)
 * Run Time 4.0Ah - Low (mins)
 * Run Time 4.0Ah - High (mins)
 * Run Time 4.0Ah - Boost (mins)
 * Run Time 5.0Ah - Low (mins)
 * Run Time 5.0Ah - High (mins)
 * Run Time 5.0Ah - Boost (mins)
 * Run Time 7.5Ah - Low (mins)
 * Run Time 7.5Ah - High (mins)
 * Run Time 7.5Ah - Boost (mins)
 * Air Volume - Low (m3/h)
 * Air Volume - High (m3/h)
 * Air Volume - Boost (m3/h)
 * Air Speed - Low (km/h)
 * Air Speed - High (km/h)
 * Air Speed - Boost (km/h)
 * Force (N) - Low | Blowers
 * Force (N) - High
 * Force (N) - Boost
 * Speed Setting
 * Weight without battery (kg)
 * Motor Type
 * Noise Rating LpA
 * Noise Rating LwA
 * Vibration (M/S)
 * Constant Speed
 */
#}

{% if node.field_suppress_product_spec[0].value != 1 %}

    <div id="specification" class="content_block content_block_single_product_specifications">

    	<div class="single_product_specifications">
        
    		<div class="title">{{ 'Specifications'|trans }}</div>

      		<ul class="specifications">

                {% if content.field_spec_run_time_2_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 2.0Ah - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_2_boost }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_2_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 2.0Ah - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_2_high }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_2_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 2.0Ah - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_2_low }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_4_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 4.0Ah - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_4_boost }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_4_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 4.0Ah - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_4_high }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_4_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 4.0Ah - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_4_low }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_5_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 5.0Ah - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_5_boost }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_5_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 5.0Ah - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_5_high }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_5_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 5.0Ah - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_5_low }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_75_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 7.5Ah - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_75_boost }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_75_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 7.5Ah - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_75_high }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_75_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 7.5Ah - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_75_low }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_speed_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Speed - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_speed_boost }}km/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_speed_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Speed - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_speed_high }}km/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_speed_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Speed - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_speed_low }}km/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_volume_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Volume - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_volume_boost }}m3/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_volume_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Volume - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_volume_high }}m3/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_air_volume_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Air Volume - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_air_volume_low }}m3/h</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_force_n_boost|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Force - Boost'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_force_n_boost }}N</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_force_n_high|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Force - High'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_force_n_high }}N</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_force_n_low|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Force - Low'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_force_n_low }}N</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_speed_setting|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Speed Setting'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_speed_setting }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_weight_wo_battery_kg|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Weight without battery'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_weight_wo_battery_kg }}kg</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_motor_type|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Motor Type'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_motor_type }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_noise_rating_lpa|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Noise Rating (LpA)'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_noise_rating_lpa }}lPa</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_noise_rating_lwa|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Noise Rating (LwA)'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_noise_rating_lwa }}LwA</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_vibration_ms|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Vibration'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_vibration_ms }}M/S</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_constant_speed|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Constant Speed'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_2_boost }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

            </ul><!-- .specifications -->

        </div><!-- .single_product_specifications -->

    </div>

{% endif %}
