{#
/**
 * @file
 * Block to display the specification fields (if available) for mowers
 *
 * Fields: Cutting Capacity (cm)
 * Speed (m/s)
 * Speed (km/h)
 * Cutting Deck
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 6.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Cutting Speed Control
 * No Load Speed (rpm)
 * Cut Height Settings (mm)
 * Handle Heights
 * Rear Collection (L)
 * Functions
 * Noise Rating LpA
 * Noise Rating LwA
 * Vibration (M/S)
 * Vertical Storage
 * Weight without battery (kg)
 */
#}

<div class="content_block content_block_single_product_specifications">

	<div class="single_product_specifications">
    
		<div class="title">Specifications</div>

  		<ul class="specifications">

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

        </ul><!-- .specifications -->

    </div><!-- .single_product_specifications -->

</div>
