{#
/**
 * @file
 * Block to display the specification fields (if available) for hedge trimmers
 *
 * Fields: Blade Length (cm)
 * Blade Gap (mm)
 * Blade Tooth Depth (mm)
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Speed Control
 * No Load Speed (spm)
 * Blade Type
 * Cutting Action
 * Blade Tip Protector
 * Sound Pressure LpA
 * Sound Pressure LwA
 * Rotating Handle Vibration (M/S2)
 * Weight without battery (kg)
 * Motor Type
 */
#}

<div class="content_block content_block_single_product_specifications">

	<div class="single_product_specifications">
    
		<div class="title">Specifications</div>

  		<ul class="specifications">

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

        </ul><!-- .specifications -->

    </div><!-- .single_product_specifications -->

</div>
