{#
/**
 * @file
 * Block to display the specification fields (if available) for line trimmers and brush cutter
 *
 * Fields: Cutting Width (cm)
 * Cutting Width, Three-Sided Blade (cm)
 * Cutting Width, Line Trimmer (cm)
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 6.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Blade Material
 * Speed Control Type
 * Speed Modes
 * No Load Speed (rpm)
 * Soft Start
 * Line Diameter (mm)
 * Line Feed
 * Dual Line
 * Rotating Direction
 * Auxiliary Handle
 * Harness
 * Noise Rating LpA
 * Noise Ratng LwA
 * Weight without battery (kg)
 * Weight without battery, three-sided blade (kg)
 * Weight without battery, line trimmer head (cm)
 * Vibration (M/S)
 * Motor Type
 */
#}

{% if node.field_suppress_product_spec[0].value != 1 %}

    <div id="specification" class="content_block content_block_single_product_specifications">

    	<div class="single_product_specifications">
        
    		<div class="title">{{ 'Specifications'|trans }}</div>

      		<ul class="specifications">

                {% if content.field_spec_cutting_width_cm|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Cutting Width'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_cutting_width_cm }}cm</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_cutting_width_tsb_cm|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Cutting Width, Three Sided Blade'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_cutting_width_tsb_cm }}cm</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_cutting_width_lt_cm|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Cutting Width, Line Trimmer'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_cutting_width_lt_cm }}cm</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_2|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 2.0Ah'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_2 }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_4|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 4.0Ah'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_4 }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_5|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 5.0Ah'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_5 }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_6|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 6.0Ah'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_6 }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_run_time_75|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Run Time 7.5Ah'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_run_time_75 }}{{ 'Minutes suffix'|trans }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_blade_material|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Blade Material'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_blade_material }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_speed_control_type|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Speed Control Type'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_speed_control_type }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_speed_modes|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Speed Modes'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_speed_modes }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_no_load_speed_rpm|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'No Load Speed'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_no_load_speed_rpm }}rpm</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_soft_start|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Soft Start'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_soft_start }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_line_diameter_mm|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Line Diameter'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_line_diameter_mm }}mm</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_line_feed|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Line Feed'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_line_feed }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_dual_line|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Dual Line'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_dual_line }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_rotating_direction|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Rotating Direction'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_rotating_direction }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_aux_handle|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Auxiliary Handle'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_aux_handle }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_harness|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Harness'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_harness }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_noise_rating_lpa|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Noise Rating'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_noise_rating_lpa }}LpA</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_noise_rating_lwa|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Noise Rating'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_noise_rating_lwa }}LwA</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_weight_wo_battery_kg|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Weight without Battery'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_weight_wo_battery_kg }}kg</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_weight_wo_battery_tsb|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Weight without Battery, Three Sided Blade'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_weight_wo_battery_tsb }}kg</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_weight_wo_battery_lth|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Weight without Battery, Line Trimmer Head'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_weight_wo_battery_lth }}kg</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_vibration_ms|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Vibration'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_vibration_ms }}M/S</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

                {% if content.field_spec_motor_type|render|trim is not empty %}
            
                    <li>
                    
                        <div class="specification">
                        
                            <div class="label">{{ 'Motor Type'|trans }}</div>
                            
                            <div class="value">{{ content.field_spec_motor_type }}</div>
                        
                        </div>
                    
                    </li>

                {% endif %}

            </ul><!-- .specifications -->

        </div><!-- .single_product_specifications -->

    </div>

{% endif %}
