{#
/**
 * @file
 * Block to display the specification fields (if available) for mowers
 *
 * Fields: Cutting Capacity (cm)
 * Speed (m/s)
 * Speed (km/h)
 * Cutting Deck
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 6.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Cutting Speed Control
 * No Load Speed (rpm)
 * Cut Height Settings (mm)
 * Handle Heights
 * Rear Collection (L)
 * Functions
 * Noise Rating LpA
 * Noise Rating LwA
 * Vibration (M/S)
 * Vertical Storage
 * Weight without battery (kg)
 */
#}

<div class="content_block content_block_single_product_specifications">

	<div class="single_product_specifications">
    
		<div class="title">Specifications</div>

  		<ul class="specifications">

            {% if content.field_spec_cutting_capacity_cm|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Cutting Capacity</div>
                        
                        <div class="value">{{ content.field_spec_cutting_capacity_cm }}cm</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_speed_ms|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Speed (m/s)</div>
                        
                        <div class="value">{{ content.field_spec_speed_ms }}m/s</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_speed_kmh|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Speed (km/h)</div>
                        
                        <div class="value">{{ content.field_spec_speed_kmh }}km/h</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_cutting_deck|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Cutting Deck</div>
                        
                        <div class="value">{{ content.field_spec_cutting_deck }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_2|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 2.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_2 }}mins</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_4|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 4.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_4 }}mins</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_5|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 5.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_5 }}mins</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_6|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 6.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_6 }}mins</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_75|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 7.5Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_75 }}mins</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_cutting_speed_control|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Cutting Speed Control</div>
                        
                        <div class="value">{{ content.field_spec_cutting_speed_control }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_no_load_speed_rpm|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">No Load Speed</div>
                        
                        <div class="value">{{ content.field_spec_no_load_speed_rpm }}rpm</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_cut_height_settings_mm|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Cut Height Settings</div>
                        
                        <div class="value">{{ content.field_spec_cut_height_settings_mm }}mm</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_handle_heights|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Handle Heights</div>
                        
                        <div class="value">{{ content.field_spec_handle_heights }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_rear_collection_l|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Rear Collection</div>
                        
                        <div class="value">{{ content.field_spec_rear_collection_l }}L</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_functions|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Functions</div>
                        
                        <div class="value">{{ content.field_spec_functions }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_noise_rating_lpa|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Noise Rating (LpA)</div>
                        
                        <div class="value">{{ content.field_spec_noise_rating_lpa }}LpA</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_noise_rating_lwa|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Noise Rating (LwA)</div>
                        
                        <div class="value">{{ content.field_spec_noise_rating_lwa }}LwA</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_vibration_ms|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Vibration</div>
                        
                        <div class="value">{{ content.field_spec_vibration_ms }}m/s</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_vertical_storage|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Vertical Storage</div>
                        
                        <div class="value">{{ content.field_spec_vertical_storage }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_weight_wo_battery_kg|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Weight without Battery</div>
                        
                        <div class="value">{{ content.field_spec_weight_wo_battery_kg }}kg</div>
                    
                    </div>
                
                </li>

            {% endif %}

        </ul><!-- .specifications -->

    </div><!-- .single_product_specifications -->

</div>
