{#
/**
 * @file
 * Block to display the specification fields (if available) for chainsaws
 *
 * Fields: Blade Length (cm)
 * Chain Speed (m/s)
 * Speed (km/h)
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 6.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Chain Bar
 * Chain Type
 * Oil Reservoir (ml)
 * Chain Brake
 * Noise Rating LpA
 * Noise Rating LwA
 * Vibration (M/S)
 * Chain Tensioning
 * Weight without battery (kg)
 * Motor Type
 */
#}

<div class="content_block content_block_single_product_specifications">

	<div class="single_product_specifications">
    
		<div class="title">Specifications</div>

  		<ul class="specifications">

            {% if content.field_spec_blade_length_cm|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Blade Length</div>
                        
                        <div class="value">{{ content.field_spec_blade_length_cm }}cm</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_speed_ms|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Speed</div>
                        
                        <div class="value">{{ content.field_spec_chain_speed_ms }}m/s</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_speed_kmh|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Speed</div>
                        
                        <div class="value">{{ content.field_spec_speed_kmh }}km/h</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_capacity_ah|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Capacity</div>
                        
                        <div class="value">{{ content.field_spec_capacity_ah }}Ah</div>
                    
                    </div>
                
                </li>

            {% endif %}

        </ul><!-- .specifications -->

    </div><!-- .single_product_specifications -->

</div>
