{#
/**
 * @file
 * Block to display the specification fields (if available) for chainsaws
 *
 * Fields: Blade Length (cm)
 * Chain Speed (m/s)
 * Speed (km/h)
 * Run Time 2.0Ah (mins)
 * Run Time 4.0Ah (mins)
 * Run Time 5.0Ah (mins)
 * Run Time 6.0Ah (mins)
 * Run Time 7.5Ah (mins)
 * Chain Bar
 * Chain Type
 * Oil Reservoir (ml)
 * Chain Brake
 * Noise Rating LpA
 * Noise Rating LwA
 * Vibration (M/S)
 * Chain Tensioning
 * Weight without battery (kg)
 * Motor Type
 */
#}

<div id="specification" class="content_block content_block_single_product_specifications">

	<div class="single_product_specifications">
    
		<div class="title">Specifications</div>

  		<ul class="specifications">

            {% if content.field_spec_blade_length_cm|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Blade Length</div>
                        
                        <div class="value">{{ content.field_spec_blade_length_cm }}cm</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_speed_ms|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Speed</div>
                        
                        <div class="value">{{ content.field_spec_chain_speed_ms }}m/s</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_speed_kmh|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Speed</div>
                        
                        <div class="value">{{ content.field_spec_speed_kmh }}km/h</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_2|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 2.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_2 }}cuts</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_4|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 4.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_4 }}cuts</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_5|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 5.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_5 }}cuts</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_6|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 6.0Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_6 }}cuts</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_run_time_75|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Run Time 7.5Ah</div>
                        
                        <div class="value">{{ content.field_spec_run_time_75 }}cuts</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_bar|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Bar</div>
                        
                        <div class="value">{{ content.field_spec_chain_bar }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_type|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Type</div>
                        
                        <div class="value">{{ content.field_spec_chain_type }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_oil_reservoir_ml|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Oil Reservoir</div>
                        
                        <div class="value">{{ content.field_spec_oil_reservoir_ml }}ml</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_brake|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Brake</div>
                        
                        <div class="value">{{ content.field_spec_chain_brake }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_noise_rating_lpa|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Noise Rating</div>
                        
                        <div class="value">{{ content.field_spec_noise_rating_lpa }}LpA</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_noise_rating_lwa|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Noise Rating</div>
                        
                        <div class="value">{{ content.field_spec_noise_rating_lwa }}LwA</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_vibration_ms|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Vibration</div>
                        
                        <div class="value">{{ content.field_spec_vibration_ms }}M/S</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_chain_tensioning|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Chain Tensioning</div>
                        
                        <div class="value">{{ content.field_spec_chain_tensioning }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_weight_wo_battery_kg|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Weight without Battery</div>
                        
                        <div class="value">{{ content.field_spec_weight_wo_battery_kg }}kg</div>
                    
                    </div>
                
                </li>

            {% endif %}

            {% if content.field_spec_motor_type|render|trim is not empty %}
        
                <li>
                
                    <div class="specification">
                    
                        <div class="label">Motor Type</div>
                        
                        <div class="value">{{ content.field_spec_motor_type }}</div>
                    
                    </div>
                
                </li>

            {% endif %}

        </ul><!-- .specifications -->

    </div><!-- .single_product_specifications -->

</div>
